/* Buttons */
.btn {
	// font-family: $font-header;
	// border-bottom: none!important;
	// text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 12px;
	@include _animate();
	padding: 10px 16px;
	margin-right: 10px;
	border: 1px solid rgba(110,112,115,0.2);
	border-radius: 0;
	background-color: transparent;
	&:hover, &:focus, &:active {
		// box-shadow: none!important;
		outline: none!important;
		background: rgba(110,112,115,0.05)!important;
		border-color: rgba(110,112,115,0.4);
		@include card(1);
	}
	&.wocky-btn-icon {
		text-transform: none!important;
		letter-spacing: normal!important;
		padding-left: 15px;
		padding-right: 15px;
	}
}

.btn-primary {
	background: $brand-secondary;
}
.btn-success {
	background: $brand-success;
}
.btn-danger {
	background: $brand-danger;
}
.btn-info {
	background: $brand-info;
}
.btn-warning {
	background: $brand-warning;
}
.btn-primary, 
.btn-success, 
.btn-info, 
.btn-warning, 
.btn-danger {
	border-color: transparent;
}
.btn-default, 
.btn-primary, 
.btn-success, 
.btn-info, 
.btn-warning, 
.btn-danger {
	&:hover, &:active, &:focus {
		// background: $clr-grey-dk;
		// color: $clr-off-white;
	}
}

.btn-sm {
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.btn-xs {
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 7px;
	padding-bottom: 7px;
}

