// Input Text 
.form-control {
	box-shadow: none!important;
	border: 2px solid $clr-grey-dk;
	background: transparent;
	font-family: $font-header;
	&:hover, 
	&:focus,
	&:active {
		outline: none;
		box-shadow: none!important;
		border: 2px solid $brand-primary;
	}
}

.gform_wrapper {
	.gform_footer {
		padding-left: 15px !important;
		padding-right: 15px !important;
		text-align: right;
		position: relative;
		input[type="submit"] {
			letter-spacing: 1px;
			margin-bottom: 12px;
			@include _animate();
			padding: 10px 16px;
			margin-right: 0 !important;
			border: none !important;
			border-radius: 0;
			background-color: $clr-mid-white;
			color: $brand-secondary;
			&:hover, &:focus, &:active {
				// box-shadow: none!important;
				outline: none!important;
				// background: rgba(110,112,115,0.05)!important;
				background-color: $clr-mid-white;
				color: $clr-grey-dk;
				@include card(1);
			}
		}
		.gform_ajax_spinner {
// 			@include _animate();
			width: 30px;
			height: auto;
			animation-name: spinner-loop;
			animation-duration: 0.5s;
			animation-timing-function: linear;
			animation-iteration-count: infinite;
			position: absolute;
			right: 140px;
			padding-left: 0;
			margin-top: -15px;
			top: 50%;
		}
      @media (max-width: 639px) {
        margin-top: 40px !important;
        .gform_ajax_spinner {
		    right: auto;
		    left: 50%;
		    top: -30px;
		    margin-left: -15px;
		    margin-top: 0;
        }
      }
	}
	.gform_heading {
		padding-left: 15px;
		padding-right: 15px;
	}
	.gform_body .top_label div.ginput_container {
		margin-top: 0;
	}
	@media only screen and (min-width: 641px) {
		.gform_body {
		    width: auto !important;
		}
	}
	.gform_body {
		ul.gform_fields {
			padding-left: 15px;
		}
	}
	ul.gform_fields {
		li.gfield {
			position: relative;
			&.col-sm-12 {
				padding-left: 0;
			}
			&.col-sm-6 {
				padding-left: 0;
				clear: none;
			}
			label {
				// font-weight: 400;
				// color: $clr-grey-lt;
			}
			label {
				position: absolute;
				font-weight: 400;
				color: $clr-grey-mid;
				top: 14px;
				left: 14px;
				@include _animate();
				@media #{$sm-min} {
					top: 18px;
					left: 16px;
				}
			}
			.top_label {
			}
			input[type="email"],
			input[type="text"],
			input[type=text] {
				//min-height: 50px;
			}
			input[type="email"],
			input[type="text"],
			input[type=text],
			textarea {
				padding: 14px 14px 6px !important; 
				border: none;
				color: $brand-black;
				border-radius: 0 !important;
			}
	        &.not-empty {
		        label {
		            top: 6px;
		            font-size: 60%;
		            opacity: 0.6;
		        }
	        }
			@media #{$sm-min} {
				input[type="email"],
				input[type="text"],
				input[type=text],
				textarea {
					padding: 18px 16px 8px !important; 
					//min-height: 60px;
				}
			}

		}
	}
	&.gform_validation_error {
		.validation_error {
			margin: 0 3px 0 15px;
			width: auto;
			background-color: $clr-mid-white;
			padding: 15px;
			border: 1px solid $clr-error;
			color: $clr-error;
		}
		ul.gform_fields {
			li.gfield {
		        label {
		            top: 6px;
		            font-size: 60%;
		            opacity: 0.6;
		        }
			}
			li.gfield.gfield_error {
				background-color: transparent;
				margin-bottom: 6px !important;
				border-top: none;
				border-bottom: none;
				padding-bottom: 0;
				padding-top: 0;
				box-sizing: border-box;
				.gfield_description.validation_message {
					color: $clr-error;
				}
			}	
		} 
	}
}
.gform_confirmation_wrapper {
	padding-left: 15px;
	padding-right: 15px;
	opacity: 1 !important;
	&.animate-box {

	}
}
