.nav-wrapper {
	width: 100%;
	@media #{$sm-min} {
		position: fixed;
		height: 80px;
		top: 0;
		z-index: 1000;
		body.scrolled & {
			background: $clr-off-white;
			border-bottom: 1px solid rgba(0,0,0,0.15);
		}
	}
	.nav-tabs-justified > li > a,
	.nav-tabs.nav-justified > li > a {
		border-bottom: none !important;
	}
}
.nav-menu {
	background: transparent; 
	top: 0;
	z-index: 999;
	@include _animate(all, 250ms, ease-in-out);
	@include border-radius(0px);

	body.scrolled & {
		margin-top: 0px;
		top: 0;
	}
	nav {
		a {
			color: $brand-secondary;
			&:hover, &:active, &:focus {
				color: $brand-secondary-dk;
				background-color: transparent;
			}
		}
	}

	@media #{$sm-min} {
		display: flex;
		justify-content: space-between;
		nav {
			order: 1;
			a {
				padding: 25px;
				.txt {
					position: relative;
					&:after {
						content: "";
						top:-25px;
						border-bottom: 3px solid $brand-secondary-dk;
						width: 100%;
						position: absolute;
						left: 0;
						transform: scaleX(0);
						@include _animate();
					}
				}
				&:hover, &:active, &:focus {
					.txt {
						position: relative;
						&:after {
							transform: scaleX(1);
						}
					}
				}
			}
			li.active a {
				.txt:after {
					transform: scaleX(1);
				}
			}
		}
		.menu-logo {
			order: 0;
			width: 0px;
			padding-top: 26px;
			display: inline-block;
			margin-left: 20px;
			margin-right: 20px;
			transform: translateY(-100px);
			@include _animate();
			body.scrolled & {
				width: 220px;
				transform: translateY(0);
			}
			body:not(.scrolled) & {
				
			}
		}
	}
	@media #{$md-min} {
		.menu-logo {
			body.scrolled & {
				width: 260px;
			}
		}
		nav {
			ul {
				margin-left: 20px;
			}
		}
	}
	@media #{$xs-max} {
		position: absolute;
		min-height: 58px;
		width: 100vw;
		body.scrolled & {
			transform: translateY(-100%);
			transition-duration: 0s;
			position: fixed;
			top: 0;
		}
		body.scrolled.scrolled-down & {
			@include _animate(all, 250ms, ease-in);
		}
		body.scrolled.scrolled-up &,
		&.nav-awake {
			background: $clr-off-white;
			@include _animate(all, 250ms, ease-out);
			position: fixed;
			margin-top: 0px;
			top: 0;
			border-bottom: 1px solid $clr-grey-lt;
			transform: translateY(0%);
		}
		nav {
			display: none;
			padding-bottom: 10px;
			ul {
				margin-top: 60px;
			}
		}
		body.hide-mobile-nav & {
			display: none;
		}
	}
}

.wocky-menu-btn {
	font-size: 15px;
	letter-spacing: 1px;
	text-transform: uppercase;
	float: right;
	margin-top: 16px;
	position: relative;
	z-index: 10;
	font-family: $font-header;
	color: $clr-off-white;
	i {
		font-size: 20px;
		margin-top: 3px;
		float: right;
		margin-left: 10px;
	}
	&:hover, &:focus, &:active {
		outline: none;
		text-decoration: none;
		color: $clr-off-white;
	}
}
.menu-logo {
	@media #{$xs-max} {
		text-align: center;
		padding-top: 22px;
		margin-right: 50px;
		@include _animate(250);
		position:fixed;
		top:0;
		width: 90%;
		body:not(.scrolled) #wocky-menu:not(.nav-awake) & {
			transform: translateY(-60px);
		}
	}
}


.wocky-brand {
 	svg {
 		height: 40px;
 		width: 160px;
		@media #{$sm-min} {
 			height: 50px;
	 		width: 220px;
		}
		@media #{$md-min} {
	 		width: 260px;
		}
		image {
			width: 100%;
			height: auto;
		}
	}
}

// Nav Toggle
.wocky-nav-toggle {
  width:25px;
  height:25px;
  cursor: pointer;
  text-decoration: none;
  &.active i {
  	background: $brand-black;
	&::before, &::after {
		background: $brand-black;
	}
  }
  &:hover, &:focus, &:active {
  	outline: none;
  	border-bottom: none!important;
  }
  	i {
  		position: relative;
	  	@include inline-block;
		width: 20px;
		height: 2px;
		color: $clr-off-white;
		font:bold 14px/.4 Helvetica;
		text-transform: uppercase;
		text-indent:-55px;
		background: $clr-off-white;
		transition: all .2s ease-out;
		&::before, &::after {
	  	  content:'';
		  width: 20px;
		  height: 2px;
		  background: $clr-off-white;
		  position: absolute;
		  left:0;
		  @include transition(.2s);
	  	}
 	}
  	.scrolled & {
		&.active i {
			&::before, &::after {
				background: $brand-black;
			}
		}
		i {
			background: $brand-black;
			&::before, &::after {
				background: $brand-black;
			}
		}
	}


}


.wocky-nav-toggle i::before {
  top: -6px;
}
.wocky-nav-toggle i::after {
  bottom: -6px;
}
.wocky-nav-toggle:hover i::before {
  top: -8px;
}
.wocky-nav-toggle:hover i::after {
  bottom: -8px;
}
.wocky-nav-toggle.active i {
	background: transparent;
}
.wocky-nav-toggle.active i::before {
  top:0;
  transform: rotateZ(45deg);
}
.wocky-nav-toggle.active i::after {
  bottom:0;
  transform: rotateZ(-45deg);
}
.menu-toggle {
	position: absolute;
  top: 12px;
  right: 0;
  height: 44px;
  width: 44px;
  border-bottom: none!important;
  > span {
	@include inline-block;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 99;
	width: 100px;
	margin-top: 12px;
	color: $clr-off-white;
	margin-left: -70px;
	font-family: $font-header;
	letter-spacing: 2px;
	font-size: 15px;
	text-transform: uppercase;
	.scrolled & {
		color: $brand-black;
	}
  }
	@media #{$sm-min} {
		display: none;
	}
}
