$font-header: 'Michroma', sans-serif;;
$font-main: 'Raleway', "Open Sans", Arial , sans-serif;


$xxs-min: "only screen and (min-width:none)";
$xxs-max: "only screen and (max-width:479px)";
$xxs-xs: $xxs-max;
$xxs-only: $xxs-xs;

$xs-min: "only screen and (min-width:480px)";
$xs-max: "only screen and (max-width:767px)";
$xs-sm: "only screen and (min-width: 480px) and (max-width:767px)";
$xs-only: $xs-sm;

$sm-min: "only screen and (min-width:768px)";
$sm-max: "only screen and (max-width:991px)";
$sm-md: "only screen and (min-width: 768px) and (max-width:991px)";
$sm-only: $sm-md;

$md-min: "only screen and (min-width:992px)";
$md-max: "only screen and (max-width:1199px)";
$md-lg: "only screen and (min-width: 992px) and (max-width:1199px)";
$md-only: $md-lg;

$lg-min: "only screen and (min-width:1200px)";
$lg-max: "only screen and (max-width:none)";
$lg-only: $lg-min;



// Overrides
$grid-gutter-width: 40px !default; 
$border-radius-base:  4px !default;
$padding-base-vertical: 14px !default;

$brand-black: rgb(19,23,34);
$glow-blue: rgb(207,219,255);

$clr-off-white: rgb(245,247,250);
$clr-mid-white: rgb(230,235,240);

$clr-grey-dk: rgb(64,65,66);
$clr-grey-mid: rgb(110,112,115);
$clr-grey-lt: rgb(186,190,194);
$brand-overlay-color: rgb(59,61,64);

$input-border-focus:  $brand-primary !default;
$form-group-margin-bottom:       30px !default;
$navbar-height:                  60px !default;



// Overrides
$grid-gutter-width: 40px !default; 
$border-radius-base:  4px !default;
$padding-base-vertical: 14px !default;

$brand-primary: #4fd2c2 !default;
$brand-secondary: #cc8829 !default;
$brand-secondary-dk: #b37012;
$brand-body-color: #818892;
$brand-selection-color: #f9f6f0;
$brand-overlay-color: #3b3d40;
$brand-bg-color: $clr-off-white;

$input-border-focus:  $brand-primary !default;
$form-group-margin-bottom:       30px !default;

$navbar-height:                  60px !default;


.bg-off-white {
  background-color: $clr-off-white;
}
@media #{$sm-min} {
  .sm-off-white {
    background-color: $clr-off-white;
  }
}
@media #{$md-min} {
  .md-off-white {
    background-color: $clr-off-white;
  }
}

@media #{$lg-min} {
  .lg-off-white {
    background-color: $clr-off-white;
  }
}

section.bg-off-white {
  background-color: $clr-off-white;
  border-top: 1px solid $clr-mid-white;
  border-bottom: 1px solid $clr-mid-white;
}
.bg-white {
  background-color: white;
}
.bg-off-white,
.bg-white {
  color: $clr-grey-dk;
  h1, h2, h3, h4, h5, h6 {
    color: $brand-black;
  }
}
.bg-brand-dk {
  background-color: $brand-black;
  color: white;
}


// bootstrap breakpoints
// separate -xxs- into separate mobile breakpoint
// -xxs- : - 479
// -xs- : 480 - 767
// -sm- : 768 - 991
// -md- : 992 - 1199
// -lg- : 1200 +




@media (max-width: 479px) {
  .col-xxs-1, .col-xxs-2, .col-xxs-3, .col-xxs-4, .col-xxs-5, .col-xxs-6, .col-xxs-7, .col-xxs-8, .col-xxs-9, .col-xxs-10, .col-xxs-11, .col-xxs-12 {
    float: left;
  }
  .col-xxs-12 {
    width: 100%;
  }
  .col-xxs-11 {
    width: 91.66666667%;
  }
  .col-xxs-10 {
    width: 83.33333333%;
  }
  .col-xxs-9 {
    width: 75%;
  }
  .col-xxs-8 {
    width: 66.66666667%;
  }
  .col-xxs-7 {
    width: 58.33333333%;
  }
  .col-xxs-6 {
    width: 50%;
  }
  .col-xxs-5 {
    width: 41.66666667%;
  }
  .col-xxs-4 {
    width: 33.33333333%;
  }
  .col-xxs-3 {
    width: 25%;
  }
  .col-xxs-2 {
    width: 16.66666667%;
  }
  .col-xxs-1 {
    width: 8.33333333%;
  }
  .col-xxs-pull-12 {
    right: 100%;
  }
  .col-xxs-pull-11 {
    right: 91.66666667%;
  }
  .col-xxs-pull-10 {
    right: 83.33333333%;
  }
  .col-xxs-pull-9 {
    right: 75%;
  }
  .col-xxs-pull-8 {
    right: 66.66666667%;
  }
  .col-xxs-pull-7 {
    right: 58.33333333%;
  }
  .col-xxs-pull-6 {
    right: 50%;
  }
  .col-xxs-pull-5 {
    right: 41.66666667%;
  }
  .col-xxs-pull-4 {
    right: 33.33333333%;
  }
  .col-xxs-pull-3 {
    right: 25%;
  }
  .col-xxs-pull-2 {
    right: 16.66666667%;
  }
  .col-xxs-pull-1 {
    right: 8.33333333%;
  }
  .col-xxs-pull-0 {
    right: auto;
  }
  .col-xxs-push-12 {
    left: 100%;
  }
  .col-xxs-push-11 {
    left: 91.66666667%;
  }
  .col-xxs-push-10 {
    left: 83.33333333%;
  }
  .col-xxs-push-9 {
    left: 75%;
  }
  .col-xxs-push-8 {
    left: 66.66666667%;
  }
  .col-xxs-push-7 {
    left: 58.33333333%;
  }
  .col-xxs-push-6 {
    left: 50%;
  }
  .col-xxs-push-5 {
    left: 41.66666667%;
  }
  .col-xxs-push-4 {
    left: 33.33333333%;
  }
  .col-xxs-push-3 {
    left: 25%;
  }
  .col-xxs-push-2 {
    left: 16.66666667%;
  }
  .col-xxs-push-1 {
    left: 8.33333333%;
  }
  .col-xxs-push-0 {
    left: auto;
  }
  .col-xxs-offset-12 {
    margin-left: 100%;
  }
  .col-xxs-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-xxs-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-xxs-offset-9 {
    margin-left: 75%;
  }
  .col-xxs-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-xxs-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-xxs-offset-6 {
    margin-left: 50%;
  }
  .col-xxs-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-xxs-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-xxs-offset-3 {
    margin-left: 25%;
  }
  .col-xxs-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-xxs-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-xxs-offset-0 {
    margin-left: 0;
  }
}
